@import url('http://fonts.cdnfonts.com/css/cocogoose');

/* basic style */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
   
  
  body {
    background: transparent;
    font-family: 'Lato', sans-serif;
  }


/*  ============navbar menu===================*/
  header {
    background-color: #fff ;
   
  }
  li{
    list-style: none;
  }
  a {
    color: #272a31;
    text-decoration: none;
  }
  
/*=============about-nav======*/
nav .top-nav{
  background-color: #272a31; 
  width: 100%;
}
.top {
  height: 1.7rem;
  background-color: #3e3e3e;
}
.nav-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  
}
.nav-container a{
  color: #fff;
  margin-right: 2rem;
}

/*=============end-about-nav======*/
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .nav-branding img{
    display: block;
    width: 120px;
    height: 48px;
    background-color: lightslategray;
  }
.nav-link{
  font-size: 1.1rem;
  transition: 0.7s ease;

}

.nav-link:hover{
  color: red;
}
 .campaign{
  border: 3px solid rgb(241, 25, 25) ;
  padding: 0.5rem;
} 

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
   
}
/* ==============main-page======================== */
main {
  background-image: url('image/main_big.png');
  background-repeat: no-repeat;
  width: 100%;
  height:90vh;

}

main .greet-main{
color: #ec5242;
font-size: 1.7rem;
margin-bottom: 0.5rem;
margin-top: 1rem;
}
main .title-main{
  color:#ec5242;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  font-family:  sans-serif;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg,
  #f40001,
  #ec5242,
  rgb(255,64, 0),
  #a00000,
  #f65112,
  #ec5242
  );
}

  main .description-main {
    background-color: lightgrey;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    
    line-height: 1.7;
    border: 3px solid #fff;
    color: #272a31;
    padding: 1.5rem;
    opacity: 0.8;
  }
main time {
  color:#272a31;
  font-size: 2.2rem;
  font-weight: 900;
  opacity: 0.7;
  margin-bottom: 1rem;
}
main .location-main{
  color: #272a31;
  font-size: 0.95rem;
  font-weight: 700;
  padding:1rem 0 2rem;
  margin-bottom: 1rem;
  opacity: 0.7;
}
/*==main about===*/
.about-mainpage{
  display: grid ;
  grid-template-rows: row;
  align-items: center;
  text-align: center;
}


/* ================ summit ====================== */
.subs {
  width: 100%;
  margin: 0 2rem;
}
.sub-container{
  display: grid;
  grid-template-rows:1fr 1fr;
  align-items: center;
  text-align: center;
}
.sub-container h2{
  color: #272a33;
  padding: 2rem 0 1rem;
  text-align: center;
  opacity: 0.8;
}
.subs hr{
  border-bottom:2px solid #ec5242 ;
  margin: 0 auto;
  margin-bottom: 1rem;
  width:10%
}
.subs p{
  color: #272a31;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0 2rem;
  text-align: center;
  opacity: 0.8;
}

.subs .logo-subs {
  width: 30%;
  background-color: #272a33;
  opacity: 0.5;

}
.subs h4 {
  color: #272a33;
  font-size: 2rem;
  font-weight: 700;
  opacity:0.9;
  margin-top: 6rem;
} 
.forum{
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  
  width:100%;
  border: 2px solid red;
  height: 50vh;
}
.forum1{
  background: url(image/forum-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ec5242;
  margin-bottom: 2rem;
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.forum2{
  background: url(image/forum-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ec5242;
  margin-bottom: 2rem;
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
/* ===================speakers-section================================== */

/* ==============================sponsors=============== */
.sponsors{
  background: #272a31;
  width: 100%;
  padding-bottom:3rem ;
display: flex;
justify-content: center;
}
.sponsor-container h4 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 3rem 0 1.1rem;
}
.sponsor-container hr{
  border-bottom: 2px solid #f65112;
  width: 15%;
  margin: 0 auto 2rem;
}
.sponsor {
  display: grid;
  grid-template-columns: repeat(6,1fr)  ;
  width:100%;
  align-items: center ;
  justify-content: center;
gap: 4rem;
  
}
.sponsor img{
  width: 100px;
}
/* ==============================footer section========================= */

.footer-container {
  
 color: #272a33;
 width: 100%;
 background-color: #fff;
 display: flex;
 gap: 5rem;
 padding: 2rem 2rem 2rem 2rem;
  
}
 .footer-container h5{
  width: 45%;
  font-size: 1.2rem;
  font-weight: 900;
}

.footer-container p{
  width: 45%;
  font-size: 1.2rem;
  font-weight: 900;
  
}


/* ======================mobile view =====================*/
@media(max-width:768px) {
/*    ========================   navbar menu=========== */


  .navbar{
    background:url('image/mob-bg.png')
  }
  .top-nav{
    display: none;
  }

  .hamburger{
    display: block;
    cursor: pointer;
    z-index: 200;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    gap: 2rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 1;
    top: 1px;

  }
  .nav-item{
    margin: 16px 0;
    
  }
  .nav-menu.active{
    left: 0;
  }
  .nav-branding{
    position: absolute;
    left: 40%;
  } 
  /* ==============main-page================= */

  main {
    background: url(image/main-mobile-image.jpeg);
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
   }
  .main-page {
    padding-top: 2rem;
    margin-left: 2rem;
    
  }
   .main-page .greet-main {
    margin-left:2rem ;

   }
  .main-page  h1 {
    font-size: 2rem; 
    margin-left: 2rem;
  }    
  .main-page time {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 2rem;
  }
  .main-page .location-main {
    font-size: 1rem;
    margin-left: 2rem;
  }
/* ===========summit================== */


  }
                                       /* end of mobile version */
/* desktop */
@media only screen and  (min-width:768px) {
main {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0 2rem ;
  row-gap: 2rem;
}

.icon-title{
  display: block; 
}


/*================= about page======================= */
main .about-description{
  background-color: white;
  opacity: 0.7;
}
}